attrs==21.2.0
build==0.5.1
coverage==5.5
deepdiff==5.5.0
hypothesis==6.14.0
jsonpickle==2.0.0
ordered-set==4.0.2
packaging==20.9
pep517==0.10.0
pycrypto==2.6.1
pyparsing==2.4.7
sortedcontainers==2.4.0
toml==0.10.2
